@import "../../assets/variables";

.bg-black {
  background-color: $black;
}

.card-img-top {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.card-link {
  color: $secondary;
  transition: .3s ease-in-out;
  &:hover {
    color: $white !important;
  }
}
