<h2>Marvel Heroes List </h2>

<div class="row">
  <div *ngFor="let hero of heroes" class="card col-xs-12 col-sm-6 col-lg-4 col-xl-3 bg-black">
    <a routerLink="/detail/{{hero.id}}">
      <img height="260px" class="card-img-top rounded-0" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
    </a>
    <div class="card-body">
      <a class="card-link" routerLink="/detail/{{hero.id}}">
        Name: {{hero.name}}
        <br />
        ID: {{hero.id}}
      </a>
    </div>
  </div>
</div>
